identity = "{{.node_name}}"
networkid = "{{.el_chain_id}}"
datadir = "{{.data_folder_path}}"
"log.console.verbosity" = "{{.log_level}}"
"log.dir.verbosity" = "{{.log_level}}"
"log.console.json" = {{.json_log_enabled}}
"log.dir.json" = {{.json_log_enabled}}

no-downloader = true
nat = "none"

ethstats = "{{.node_name}}:{{.ethstats_server_secret}}@ethstats-server:{{.ethstats_server_port_number}}"


# [p2p]
maxpeers = 200
port = {{.discovery_port_number}}
nodiscover = true
# [p2p.discovery]
staticpeers = "{{.static_nodes}}"

# [heimdall]
"bor.heimdall" = "{{.cl_api_url}}"

# [miner]
{{if eq .kind "validator"}}
mine = true
"miner.gaslimit" = {{.el_gas_limit}}
# "miner.gasprice" = "25000000000" # TODO: Make this flag available in erigon.
"miner.etherbase" = "{{.address}}"
"miner.extradata" = "{{.extradata}}"
"miner.sigfile" = "{{.data_folder_path}}/nodekey"
{{end}}

# [accounts]
allow-insecure-unlock = true

# [jsonrpc]
# ipcpath = "{{.data_folder_path}}/erigon.ipc" # TODO: Make this flag available in erigon.
# [jsonrpc.http]
"http" = true
"http.addr" = "0.0.0.0"
"http.port" = {{.rpc_port_number}}
"http.api" = ["admin", "eth", "net", "web3", "txpool", "bor","debug"]
"http.vhosts" = ["*"]
"http.corsdomain" = ["*"]
# [jsonrpc.ws]
"ws" = true
# "ws.addr" = "0.0.0.0" # TODO: Make this flag available in erigon.
"ws.port" = {{.ws_port_number}}
# "ws.api" = ["admin", "eth", "net", "web3", "txpool", "bor", "debug"]
# "ws.origins" = ["*"] # TODO: Make this flag available in erigon.
   
# [telemetry]
"metrics.addr" = "0.0.0.0"
"metrics.port" = {{.metrics_port_number}}
