chain = "{{.config_folder_path}}/genesis.json"
datadir = "{{.data_folder_path}}"
identity = "{{.node_name}}"
syncmode = "full"   # Blockchain sync mode (only "full" sync supported)
{{- if eq .sync_mode "archive" }}
gcmode = "archive"  # Blockchain garbage collection mode ("full", "archive")
snapshot = true     # Enables the snapshot-database mode
{{- else }}
gcmode = "full"     # Blockchain garbage collection mode ("full", "archive")
snapshot = false    # Enables the snapshot-database mode
{{- end }}
verbosity = {{.log_level_to_int}}

"bor.logs" = true

[witness]
    fastforwardthreshold=30
    {{- if .sync_with_witness }}
    syncwithwitnesses = true
    parallel-stateless-import = true
    {{- end }}

    {{- if .produce_witness }}
    enable = true
    producewitnesses = true
    {{- end }}

[p2p]
    maxpeers = 200
    bind = "0.0.0.0"
    port = {{.discovery_port_number}}
    nodiscover = true
    nodekey = "{{.data_folder_path}}/nodekey"
    [p2p.discovery]
        static-nodes = {{.static_nodes}}

[heimdall]
    url = "{{.cl_api_url}}"
    ws-address = "{{.cl_ws_rpc_url}}"

[accounts]
    allow-insecure-unlock = true
    password = "{{.config_folder_path}}/password.txt"
    unlock = ["{{.address}}"]

{{- if and (eq .kind "validator") (ne .sync_mode "stateless") }}
[miner]
    mine = true
    gaslimit = {{.el_gas_limit}}
    etherbase = "{{.address}}"
    extradata = "{{.extradata}}"
{{- end }}

[jsonrpc]
    txfeecap = 0.4194304    # Sets a cap on transaction fee (in ether) that can be sent via the RPC APIs (0 = no cap)
    ipcpath = "{{.data_folder_path}}/bor.ipc"
    [jsonrpc.http]
        enabled = true
        host = "0.0.0.0"
        port = {{.rpc_port_number}}
        api = ["admin", "eth", "net", "web3", "txpool", "bor", "debug"]
        vhosts = ["*"]
        corsdomain = ["*"]
    [jsonrpc.ws]
        enabled = true
        host = "0.0.0.0"
        port = {{.ws_port_number}}
        api = ["admin", "eth", "net", "web3", "txpool", "bor", "debug"]
        origins = ["*"]

[log]
    json = {{.json_log_enabled}}

[telemetry]
    metrics = true
    prometheus-addr = "0.0.0.0:{{.metrics_port_number}}"

[pprof]
  pprof = true                      # Enable the pprof HTTP server
  port = {{.pprof_port_number}}     # pprof HTTP server listening port
  addr = "0.0.0.0"                  # pprof HTTP server listening interface
  memprofilerate = 524288           # Turn on memory profiling with the given rate
  blockprofilerate = 0              # Turn on block profiling with the given rate

[cache]
  cache = 4096             # Megabytes of memory allocated to internal caching (recommended for mainnet = 4096, default suitable for amoy/devnet)
  gc = 0                   # Percentage of cache memory allowance to use for trie pruning (default = 25% full mode, 0% archive mode)
  snapshot = 35            # Percentage of cache memory allowance to use for snapshot caching (default = 10% full mode, 20% archive mode)
  database = 50            # Percentage of cache memory allowance to use for database io
  trie = 15                # Percentage of cache memory allowance to use for trie caching (default = 15% full mode, 30% archive mode)
  noprefetch = false       # Disable heuristic state prefetch during block import (less CPU and disk IO, more time waiting for data)
  {{- if eq .kind "rpc" }}
  preimages = true         # Enable recording the SHA3/keccak preimages of trie keys
  triesinmemory = 128      # Number of block states (tries) to keep in memory
  {{- else }}
  preimages = false        # Enable recording the SHA3/keccak preimages of trie keys
  triesinmemory = 1        # Number of block states (tries) to keep in memory
  {{- end }}
  txlookuplimit = 2350000  # Number of recent blocks to maintain transactions index for (soon to be deprecated, use history.transactions instead)
  blocklogs = 32           # Size (in number of blocks) of the log cache for filtering
  timeout = "1h0m0s"       # Time after which the Merkle Patricia Trie is stored to disc from memory
  fdlimit = 0              # Raise the open file descriptor resource limit (default = system fd limit)
#   addresscachesizes= ""    # Address-specific cache sizes for biased caching in MB (format: address=sizeMB,address=sizeMB, e.g. 0x1234...=1024,0x5678...=512)

[history]                  # For historical data retention related flags
  logs = 2350000           # Number of recent blocks to maintain log search index for (default = about 2 months, 0 = entire chain)
  {{- if eq .kind "validator" }}
  transactions = 1024     # Number of recent blocks to maintain transactions index for (default = about 2 months, 0 = entire chain)
  "logs.disable" = true   # Do not maintain log search index
  state = 1024            # Number of recent blocks to retain state history for, only relevant in state.scheme=path (default = 90,000 blocks, 0 = entire chain)
  {{- else }}
  transactions = 2350000   # Number of recent blocks to maintain transactions index for (default = about 2 months, 0 = entire chain)
  "logs.disable" = false   # Do not maintain log search index
  state = 90000            # Number of recent blocks to retain state history for, only relevant in state.scheme=path (default = 90,000 blocks, 0 = entire chain)
  {{- end }}